@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section jsFooter{
    <link href="/Resources/LibraryAlbum/css/styles.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Resources/LibraryAlbum/css/photoswipe.css">
    <script type="text/javascript" src="/Resources/LibraryAlbum/js/klass.min.js"></script>
    <script type="text/javascript" src="/Resources/LibraryAlbum/js/code.photoswipe-3.0.5.min.js"></script>
    <script type="text/javascript">
        (function (window, PhotoSwipe) {
            document.addEventListener('DOMContentLoaded', function () {
                var options = {}, instance = PhotoSwipe.attach(window.document.querySelectorAll('#Gallery a'), options);
            }, false);
        }(window, window.Code.PhotoSwipe));
    </script>
}

<section id="blog_content" class="right-content col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-pull-3 col-md-pull-3">
    <div class="page_title page__ col-lg-12 col-md-12 col-sm-12 no-padding">
        <h1 class="title_page_h1"><span> @ViewBag.Name</span>	</h1>
    </div>
    <section class="list-blogs blog-main col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding">
        <div class="">
            <section class="list-blogs blog-main">
                <div class="row">
                    <section class="list-blogs blog-main">
                        <div class="">
                            <div class="nhomnhe">
                                <h2 class="title">
                                    @ViewBag.Title
                                </h2>
                                <div class="lineboder"></div>
                            </div>
                            <div class="region region-content">
                                <div class="block block-system" id="block-system-main">
                                    <div class="content">
                                        <div id="box_center">
                                            <div id="bor_centers">
                                                <div style="width: 100%">
                                                    <ul id="Gallery" class="gallery Album">
                                                        @Html.Raw(ViewBag.ViewsSlide)
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <style>
                        .nivo-directionNav {
                            display: none;
                        }
                    </style>
                </div>
            </section>
        </div>
    </section>
</section>