@*@Html.Partial("~/Views/AllPage/Chat_Zalo_FacebookNews.cshtml")
@Html.Partial("~/Views/AllPage/Chat_Zalo_Facebook.cshtml")*@

<footer class="footer">
    <div class="site-footer">
        <div class="container">
            <div class="footer-inner padding-top-50">
                <div class="row">
                    <div class="col-xs-12 col-lg-5 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <ul class="list-menu menu_first">
                                <p>
                                    <strong>MỸ PHẨM BẠCH LIÊN&nbsp;</strong>
                                    <br>
                                    Trụ sở - Nhà máy : 58 Trương Hán Siêu,P.Nhị Châu, Thành phố Hải Dương.<br>
                                    VPĐD và Showroom: B5-11 Khu liền kể Vinhome Gardenia,Hàm Nghi,Cầu Diễn,Nam Từ Liêm,Hà Nội .<br>
                                    VPDD và Showroom: Số 154/4/87 Nguyễn Phúc Chu, Phường 15, Quận Tân Bình, Hồ Chí Minh.<br>Email: mpbachlien@gmail.com
                                </p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="footer-widget">
                                    <h4 class="cliked margin-bottom-20 hasclick">
                                        <span>Tin tức</span>
                                    </h4>
                                    <ul class="list-menu toggle-mn" style="">
                                        <li class="li_effect">
                                            <a href="/tin-tuc-su-kien.html">Tin tức sự kiện</a>
                                        </li>
                                        <li class="li_effect">
                                            <a href="/lam-dep.html">Làm đẹp</a>
                                        </li>
                                        <li class="li_effect">
                                            <a href="/chuyen-nganh.html">Chuyên ngành</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
                                <div class="footer-widget">
                                    <h4 class="cliked margin-bottom-20 hasclick">
                                        <span>Chuyên ngành</span>
                                    </h4>
                                    <ul class="list-menu toggle-mn" style="">
                                        <li class="li_effect">
                                            <a href="/tin-tuc-su-kien.html">Tin tức sự kiện</a>
                                        </li>
                                        <li class="li_effect">
                                            <a href="/lam-dep.html">Làm đẹp</a>
                                        </li>
                                        <li class="li_effect">
                                            <a href="/chuyen-nganh.html">Chuyên ngành</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="phone_contact_footer_large">
                                    <span class="ti ti-headphone-alt"></span>
                                    <div class="rigphone">
                                        <span>Bạn có bất kỳ câu hỏi nào? Hãy gọi:</span>
                                        <a href="callto:0984533910">0984533910</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-5">
                        <div class="footer-widget contentWrap">
                            <h4 class="cliked margin-bottom-20">
                                <span>Video hướng dẫn làm đẹp</span>
                            </h4>
                            <div class="blox bloxPopup">
                                @*@{Html.RenderAction("Box_Facebook", "AllPage");}*@
                               @Html.Partial("~/Views/AllPage/Register_Email.cshtml")
                                @Html.Partial("~/Views/AllPage/Register_Phone.cshtml")
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
