<table style="outline: 0px; color: #333333; border-collapse: collapse;" border="1" cellspacing="1" bgcolor="#ffffff" width="100%">
    <tbody style="outline: 0px;">
        <tr style="outline: 0px;" bgcolor="#0270bf">
            <td style="border: 1px dashed #ababab; color: #ffffff;">
                <strong>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Tên phương pháp </font>
                    </font>
                </strong>
            </td>
            <td style="border: 1px dashed #ababab;">
                <strong style="color: #ffffff;">
                    <strong>
                        <font style="vertical-align: inherit;"></font>
                    </strong>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Mô tả </font>
                        <strong>
                            <font style="vertical-align: inherit;">phương pháp</font>
                        </strong>
                    </font>
                </strong>
                <strong> </strong>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">GetAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu GET tới Uri được chỉ định dưới dạng hoạt động không đồng bộ.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">GetByteArrayAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi một yêu cầu GET tới Uri được chỉ định và trả về phần thân phản hồi dưới dạng một mảng byte trong một hoạt động không đồng bộ.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">GetStreamAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu GET đến Uri được chỉ định và trả về phần thân phản hồi dưới dạng một luồng trong hoạt động không đồng bộ.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">GetStringAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu GET tới Uri được chỉ định và trả về phần thân phản hồi dưới dạng một chuỗi trong hoạt động không đồng bộ.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">PostAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu POST đến Uri được chỉ định dưới dạng hoạt động không đồng bộ.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">PostAsJsonAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu POST dưới dạng hoạt động không đồng bộ tới Uri được chỉ định với giá trị đã cho được tuần tự hóa dưới dạng JSON.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">PostAsXmlAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu POST dưới dạng hoạt động không đồng bộ tới Uri được chỉ định với giá trị đã cho được tuần tự hóa dưới dạng XML.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">PutAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu PUT đến Uri được chỉ định dưới dạng hoạt động không đồng bộ.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">PutAsJsonAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu PUT dưới dạng hoạt động không đồng bộ tới Uri được chỉ định với giá trị đã cho được tuần tự hóa dưới dạng JSON.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">PutAsXmlAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu PUT dưới dạng hoạt động không đồng bộ tới Uri được chỉ định với giá trị đã cho được tuần tự hóa dưới dạng XML.</font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">DeleteAsync</font>
                </font>
            </td>
            <td style="border: 1px dashed #ababab;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gửi yêu cầu XÓA tới Uri được chỉ định dưới dạng hoạt động không đồng bộ.</font>
                </font>
            </td>
        </tr>
    </tbody>
</table>