
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemMoiSanPhamAPIBanHang</title>
</head>
<body>
    <div> 
        @Html.Raw(ViewBag.HienThi)
    </div>
</body>
</html>
