@{
    ViewBag.Title = "Thanh toán";
    Layout = "";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="section group">
        <div class="col-md-6">
            @using (Html.BeginForm("Payment", "Test", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Người nhận</label>
                    <input name="shipName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Điện thoại</label>
                    <input name="mobile" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input name="address" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" class="form-control" />
                </div>
                <button type="submit" class="btn">Gửi đơn hàng</button>
            }
        </div>
       
    </div>
</div>
