<div class="bar-l">
    <div class="bar-l">
        <ul class="bar-top">
            <li class="bar-sort">
                <a href="http://m.me/@Commond.Setting("txtmessengerFacebook")" title="icon messager" target="_blank">
                    <noscript>
                        <img class="img-fluid" src="/Resources/images/icon-messager.png">
                    </noscript>
                    <img class="img-fluid lazyloaded" src="/Resources/images/icon-messager.png">
                </a>
            </li>
            <li class="bar-sort">
                <a href="https://zalo.me/@Commond.Setting("Zalo")" title="icon zalo" target="_blank">
                    <noscript>
                        <img class="img-fluid" src="/Resources/images/icon-zalo.png">
                    </noscript>
                    <img class="img-fluid lazyloaded" src="/Resources/images/icon-zalo.png">
                </a>
            </li>
            <li class="bar-sort bar-phone">
                <a href="tel:@Commond.Setting("Hotline")" title="icon phone">
                    <noscript>
                        <img class="img-fluid" src="/Resources/images/icon-phone.png">
                    </noscript>
                    <img class="img-fluid lazyloaded" src="/Resources/images/icon-phone.png">
                </a>
            </li>
        </ul>
    </div>
