<div class="float-contact">
    <button class="chat-zalo"><a target="_blank" href="http://zalo.me/@Html.Raw(Commond.Setting("Zalo"))">Chat Zalo</a></button>
    <button class="chat-face"><a target="_blank" href="http://m.me/@Html.Raw(Commond.Setting("ChatFacebook"))">Chat Facebook</a></button>
    <button class="hotline"><a href="tel:@Html.Raw(Commond.Setting("Hotline"))">Hotline: @Html.Raw(Commond.Setting("Hotline"))</a></button>
</div>