
@{ Layout = "";}
-------<br />
cần css và các mẫu from thì lên vào trang w3schools để xem nhé
Chú ý: Tìm các mục cần, trên này đều có hết các ví dụ , đỡ mất công đi css
https://www.w3schools.com/howto/default.asp

-------<br />

fonts
https://www.w3schools.com/howto/howto_google_fonts.asp

-------<br />

Forms
https://www.w3schools.com/howto/howto_css_login_form.asp
-------<br />

Đánh giá của người dùng
https://www.w3schools.com/howto/howto_css_user_rating.asp
-------<br />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="~/Resources/css/Css_All.css" rel="stylesheet" />
<button class="btn success">Success</button>
<button class="btn info">Info</button>
<button class="btn warning">Warning</button>
<button class="btn danger">Danger</button>
<button class="btn default">Default</button>

-------<br />

<button class="button"><span>Hover </span></button>

-------<br />
<!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>


-------<br />
<!-- Add font awesome icons to buttons (note that the fa-spin class rotates the icon) -->
<button class="buttonload">
    <i class="fa fa-spinner fa-spin"></i>Loading
</button>

<button class="buttonload">
    <i class="fa fa-circle-o-notch fa-spin"></i>Loading
</button>

<button class="buttonload">
    <i class="fa fa-refresh fa-spin"></i>Loading
</button>
<br />
--------------<br />
<a href="#" class="notification">
    <span>Inbox</span>
    <span class="badge">3</span>
</a>
-------<br />


<div class="Timkiems">
    <input type="text" name="search" placeholder="Search..">
</div>