@{
    string ssl = "http://";
    string hp = "";
    string language = MoreAll.Captionlanguage.SetLanguage();
    //string bc = Request.Url.Authority + Request.RawUrl.ToString();//"localhost:63136/danh-muc/noi-that-phong-khach"
    //string Url = Request.Url.ToString();//"http://localhost:63136/danh-muc/noi-that-phong-khach"
    //string Host = Request.Url.Authority + Request.Url.Host.ToString();//"localhost:63136localhost"
    string RawUrl = Request.RawUrl.ToString();//"/danh-muc/noi-that-phong-khach"
    hp = Removelink.RemoveUrl(RawUrl);
    if (Commond.Setting("SSL").Equals("1"))
    {
        ssl = "https://";
    }
    // Nếu là trang chủ
    if (hp == "/")
    {
        ViewBag.Title = MoreAll.MoreAll.GetCache("Title", System.Web.HttpContext.Current.Cache["Title"] != null ? "" : VS.ECommerce_MVC.App.Template.WebTitle(RawUrl));
    }
    else
    {
        ViewBag.Title = VS.ECommerce_MVC.App.Template.WebTitle(RawUrl);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @{
        if (hp == "/")
        {
            @Html.Raw(MoreAll.MoreAll.GetCache("Header", System.Web.HttpContext.Current.Cache["Header"] != null ? "" : Home.Header(ssl, Request.Url.Host, hp, Commond.RequestMenu(hp), Request.RawUrl)));
        }
        else
        {
            @Html.Raw(Home.Header(ssl, Request.Url.Host, RawUrl, Commond.RequestMenu(hp), Request.RawUrl))
        }
    }
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    @*Menu mobile*@
    <link href="/Resources/Responsive/css/flexnav.css" media="screen, projection" rel="stylesheet" type="text/css">
    <script src="/Resources/Responsive/js/jquery.flexnav.js" type="text/javascript"></script>
    @*Menutrai*@
    <link href="~/Resources/Responsive/css/Menutrai.css" rel="stylesheet" />


    <link href="~/Resources/css/Css_All.css" rel="stylesheet" />
    <link href="~/Resources/css/Mobile.css" rel="stylesheet" />
</head>
<body class="loadings">
    @RenderBody()
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="Danhmucmenu">Danh mục menu  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>
        <div class="MenuHeaderMobile">
            <nav>
                <ul data-breakpoint="1025" class="flexnav with-js opacity sm-screen flexnav-show">
                    <li><a href="//">// 1</a>  </li>
                    <li>
                        <a href="//">Item234123 2</a>
                        <ul>
                            <li><a href="//">Sub 111111111111</a></li>
                            <li>
                                <a href="//">Sub 1 Item 2232233</a>
                                <ul>
                                    <li>
                                        <a href="/">Sub 22222222222222</a>
                                        <ul>
                                            <li><a href="/">Sub 3333333333</a></li>
                                            <li><a href="http://jasonweaver.name/">Sub 2 Item 2</a></li>
                                            <li><a href="http://jasonweaver.name/">Sub 2 Item 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://jasonweaver.name/">Sub 2 Item 2</a></li>
                                    <li><a href="http://jasonweaver.name/">Sub 2 Item 3</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://jasonweaver.name/">Sub 1 Item 3</a>
                                <ul>
                                    <li><a href="http://jasonweaver.name/">Sub 2 Item 1</a></li>
                                    <li>
                                        <a href="http://jasonweaver.name/">Sub 2 Item 2</a>
                                        <ul>
                                            <li><a href="http://jasonweaver.name/">Sub 3 Item 1</a></li>
                                            <li><a href="http://jasonweaver.name/">Sub 3 Item 2</a></li>
                                            <li><a href="http://jasonweaver.name/">Sub 3 Item 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://jasonweaver.name/">Item 3</a>
                        <ul>
                            <li><a href="http://jasonweaver.name/">Sub 1 Item 1</a></li>
                            <li><a href="http://jasonweaver.name/">Sub 1 Item 2</a></li>
                            <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Item 4</a>
                        <ul>
                            <li><a href="http://jasonweaver.name/">Sub 1 Item 1</a></li>
                            <li><a href="http://jasonweaver.name/">Sub 1 Item 2</a></li>
                            <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://jasonweaver.name/">Item 5</a>
                        <ul>
                            <li><a href="http://jasonweaver.name/">Sub 1 Item 1</a></li>
                            <li><a href="http://jasonweaver.name/">Sub 1 Item 2</a></li>
                            <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu Mobile</span>
    <div id="overlay"></div>

    <br /><br /><br /><br />
    <div>--------menu trái------------</div>
    <nav>
        <ul data-breakpoint="1025" class="menutrai with-js opacity sm-screen flexnav-show">
            <li><a href="//">// 1</a>  </li>
            <li>
                <a href="//">Item234123 2</a>
                <ul>
                    <li><a href="//">Sub 111111111111</a></li>
                    <li>
                        <a href="//">Sub 1 Item 2232233</a>
                        <ul>
                            <li>
                                <a href="/">Sub 22222222222222</a>
                                <ul>
                                    <li><a href="/">Sub 3333333333</a></li>
                                    <li><a href="http://jasonweaver.name/">Sub 2 Item 2</a></li>
                                    <li><a href="http://jasonweaver.name/">Sub 2 Item 3</a></li>
                                </ul>
                            </li>
                            <li><a href="http://jasonweaver.name/">Sub 2 Item 2</a></li>
                            <li><a href="http://jasonweaver.name/">Sub 2 Item 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://jasonweaver.name/">Sub 1 Item 3</a>
                        <ul>
                            <li><a href="http://jasonweaver.name/">Sub 2 Item 1</a></li>
                            <li>
                                <a href="http://jasonweaver.name/">Sub 2 Item 2</a>
                                <ul>
                                    <li><a href="http://jasonweaver.name/">Sub 3 Item 1</a></li>
                                    <li><a href="http://jasonweaver.name/">Sub 3 Item 2</a></li>
                                    <li><a href="http://jasonweaver.name/">Sub 3 Item 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="http://jasonweaver.name/">Item 3</a>
                <ul>
                    <li><a href="http://jasonweaver.name/">Sub 1 Item 1</a></li>
                    <li><a href="http://jasonweaver.name/">Sub 1 Item 2</a></li>
                    <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a></li>
                </ul>
            </li>
            <li>
                <a href="">Item 4</a>
                <ul>
                    <li><a href="http://jasonweaver.name/">Sub 1 Item 1</a></li>
                    <li><a href="http://jasonweaver.name/">Sub 1 Item 2</a></li>
                    <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a></li>
                </ul>
            </li>
            <li>
                <a href="http://jasonweaver.name/">Item 5</a>
                <ul>
                    <li><a href="http://jasonweaver.name/">Sub 1 Item 1</a></li>
                    <li><a href="http://jasonweaver.name/">Sub 1 Item 2</a></li>
                    <li><a href="http://jasonweaver.name/">Sub 1 Item 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    </body>
</html>
