<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <style>
       


/*CSS*/
html { scroll-behavior: smooth; } 

    </style>

</head>
<body>

<a href="#google">google</a>

    aaaaaaaa<br /> aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br /> aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />    aaaaaaaa<br /> aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />    aaaaaaaa<br /> aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />    aaaaaaaa<br /> aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
	<div id="google">googlegooglegooglegooglegooglegooglegoogle</div>
    aaaaaaaa<br />    aaaaaaaa<br /> aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />    aaaaaaaa<br /> aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />
    aaaaaaaa<br />


</body>
</html>
