@{
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
@using (Html.BeginForm())
{
    
    <div class="content-wrapper">
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Đổi mật khẩu</div>
                        <div class="ibox-tools">
                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                    </div>
                    <div class="ibox-body">
                        <div>@Html.Raw(ViewBag.ThongBao)</div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="txtmatkhaumoicu" id="txtmatkhaumoicu">

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Mật khẩu mới</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="txtmatkhaumoi" id="txtmatkhaumoi">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Xác nhận mật khẩu</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="txtmatkhauxacnhan" id="txtmatkhauxacnhan">
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <div class="col-sm-10 ml-sm-auto">
                                    <input type="submit" value="@Commond.label("lt_changepassword")" class="btn btn-info" />
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    
}
<script type="text/javascript">
    $(function () {
        $('#txtHead').html("Đổi mật khẩu thành viên");
    });
</script>
