@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section jsFooter{
    <script src="/Resources/ScripMvc/ThongBao.js"></script>
}
<div style=" height:120px"></div>
<section class="ftco-section">
    <div class="container">
        @*<div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Quên mật khẩu</h2>
            </div>
        </div>*@
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
              
                <div class="login-wrap p-0">
                 

                    @*<h3 class="mb-4 text-center">Have an account?</h3>*@
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                            @TempData["AlertMessage"]
                        </div>
                    }
                    @using (Html.BeginForm("QuenMatKhau", "Members", new { returnUrl = @ViewBag.ReturnUrl, @class = "" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input type="text" id="txtemail" name="txtemail" class="form-control" placeholder="Nhập Email" required>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Lấy mật khẩu</button>
                        </div>
                    }
                    <p class="w-100 text-center">&mdash; Đăng nhập hoặc đăng ký &mdash;</p>
                    <div class="social d-flex text-center">
                        <a href="/Dang-ky.html" class="px-2 py-2 mr-md-1 rounded">Đăng ký</a>
                        <a href="/Dang-nhap.html" class="px-2 py-2 mr-md-1 rounded"> Đăng nhập</a>
                        <a href="/" class="px-2 py-2 ml-md-1 rounded">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







